<section id="projects">
<div class="container">
  <h3>About me</h3>
  <p>I am originally from Candeleda, a small village close to the mountains in the center of Spain. I moved to Madrid to start the Bachelor on Computer Science at <b>Universidad Carlos III</b>, where I also completed my Master in Artificial Intelligence.</p>
  <p> From 2017, I am a PhD student at the same university under Prof. Daniel Borrajo. The title of my thesis is "Goal Reasoning for Autonomous Agents using Automated Planning", where we study how planning can enhance the autonomy of agents.</p>
  <p>During the PhD I have been involved in several research projects, as well as in teaching tasks. I have also visited other research institutions such as <b>RMIT University</b> in Melbourne (Australia), where I collaborated with Sebastian Sardina. Last summer I joined the <b>JP Morgan</b> AI Research team in London as an intern.</p>
  <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1Ihn_9cxd_GGxKirHydTJ8PRFlm2Bcrt4ZqLIPpnkK4c&font=Default&lang=en&initial_zoom=2&start_at_slide=6&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
</div>
</section>
